<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391193274954-1uevn9kbpep2tm3avruk043j01t2s5jr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391193274954-1uevn9kbpep2tm3avruk043j01t2s5jr</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ7K4v5i71ll1kFUKlT6EbB9XlPV9h3l8</string>
	<key>GCM_SENDER_ID</key>
	<string>391193274954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.organization.WaveMPN</string>
	<key>PROJECT_ID</key>
	<string>mpplayer-a1a51</string>
	<key>STORAGE_BUCKET</key>
	<string>mpplayer-a1a51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:391193274954:ios:a19b4157a92748ef1894b3</string>
	<key>DATABASE_URL</key>
	<string>https://mpplayer-a1a51.firebaseio.com</string>
</dict>
</plist>
